In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.8.0

In [3]:
from tensorflow import keras
from keras import layers

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

from keras.callbacks import EarlyStopping
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
train_df = pd.read_csv('/content/drive/My Drive/data/Raman_DNA/train.csv',sep=',')
submission_df = pd.read_csv('/content/drive/My Drive/data/Raman_DNA/sample_submission.csv',sep=',')
test_df = pd.read_csv('/content/drive/My Drive/data/Raman_DNA/test.csv',sep=',')

In [8]:
train_df.head()

   row_id     A0T0G0C10  ...     A10T0G0C0                  target
0       0 -9.536743e-07  ... -9.536743e-07  Streptococcus_pyogenes
1       1 -9.536743e-07  ... -9.536743e-07     Salmonella_enterica
2       2 -9.536743e-07  ...  1.046326e-06     Salmonella_enterica
3       3  4.632568e-08  ... -9.536743e-07     Salmonella_enterica
4       4 -9.536743e-07  ... -9.536743e-07      Enterococcus_hirae

[5 rows x 288 columns]

In [9]:
test_df.head()

   row_id     A0T0G0C10  A0T0G1C9  ...  A9T0G1C0  A9T1G0C0     A10T0G0C0
0  200000 -9.536743e-07 -0.000002  ...  0.000006  0.000027  4.632568e-08
1  200001 -9.536743e-07 -0.000010  ... -0.000010 -0.000010 -9.536743e-07
2  200002  4.632568e-08  0.000003  ...  0.000030  0.000021  4.632568e-08
3  200003 -9.536743e-07 -0.000008  ...  0.000016  0.000051 -9.536743e-07
4  200004 -9.536743e-07 -0.000010  ... -0.000010  0.000990 -9.536743e-07

[5 rows x 287 columns]

In [10]:
print('Missing Values in Train data: ', train_df.isna().any().sum())
print('Missing Values in Test data: ',test_df.isna().any().sum())

Missing Values in Train data:  0
Missing Values in Test data:  0

In [11]:
train_df.target.unique()

array(['Streptococcus_pyogenes', 'Salmonella_enterica',
       'Enterococcus_hirae', 'Escherichia_coli', 'Campylobacter_jejuni',
       'Streptococcus_pneumoniae', 'Staphylococcus_aureus',
       'Escherichia_fergusonii', 'Bacteroides_fragilis',
       'Klebsiella_pneumoniae'], dtype=object)

In [12]:
train_df.shape

(200000, 288)

In [13]:
X = train_df.copy()
y = X.pop('target')

In [ ]:
y_train = train_df['target']
X_train = train_df.drop(['row_id','target'], axis=1)

In [15]:
# encode class values as integers
le = LabelEncoder()
y_train = le.fit_transform(y_train)
le.classes_

array(['Bacteroides_fragilis', 'Campylobacter_jejuni',
       'Enterococcus_hirae', 'Escherichia_coli', 'Escherichia_fergusonii',
       'Klebsiella_pneumoniae', 'Salmonella_enterica',
       'Staphylococcus_aureus', 'Streptococcus_pneumoniae',
       'Streptococcus_pyogenes'], dtype=object)

In [31]:
y_train

6167          Campylobacter_jejuni
28869        Klebsiella_pneumoniae
64376       Streptococcus_pyogenes
165551       Klebsiella_pneumoniae
59522         Campylobacter_jejuni
                    ...
172057      Escherichia_fergusonii
99709        Staphylococcus_aureus
182127          Enterococcus_hirae
119942        Bacteroides_fragilis
27489     Streptococcus_pneumoniae
Name: target, Length: 150000, dtype: object

In [25]:
train_df.drop_duplicates(inplace = True)

In [24]:
y_train

6167          Campylobacter_jejuni
28869        Klebsiella_pneumoniae
64376       Streptococcus_pyogenes
165551       Klebsiella_pneumoniae
59522         Campylobacter_jejuni
                    ...
172057      Escherichia_fergusonii
99709        Staphylococcus_aureus
182127          Enterococcus_hirae
119942        Bacteroides_fragilis
27489     Streptococcus_pneumoniae
Name: target, Length: 150000, dtype: object

In [28]:
X.shape

(200000, 287)

In [30]:
y = le.transform(.target)

0    Streptococcus_pyogenes
1       Salmonella_enterica
2       Salmonella_enterica
3       Salmonella_enterica
4        Enterococcus_hirae
Name: target, dtype: object

In [32]:
y = le.transform(train_df.target)

In [35]:
y.shape

(200000,)

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [37]:
model = RandomForestRegressor(n_estimators=30, min_samples_leaf=5)

In [41]:
test_df.head()
X_test = test_df.drop('row_id', axis=1)

In [ ]:
model.fit(X, y)

In [ ]:
np.sqrt(mean_squared_error(y, model.predict(X_)))

In [42]:
y_pred = model.predict(X_test)
y_pred = np.argmax(y_pred, axis = 1)
y_pred = le.inverse_transform(y_pred)
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- row_id

  warnings.warn(message, FutureWarning)

ValueError: ignored

       row_id               target
0      200000  Salmonella_enterica
1      200001  Salmonella_enterica
2      200002  Salmonella_enterica
3      200003  Salmonella_enterica
4      200004  Salmonella_enterica
...       ...                  ...
99995  299995  Salmonella_enterica
99996  299996  Salmonella_enterica
99997  299997  Salmonella_enterica
99998  299998  Salmonella_enterica
99999  299999  Salmonella_enterica

[100000 rows x 2 columns]

In [39]:

submission_df['target'] = y_pred
submission_df.to_csv('/content/drive/My Drive/data/Raman_DNA/sample_submission_2.csv', index=False)